:root{
    --starbucksMidGreen: #008248;
    --starbucksWhite: #f1f8f6;
    --starbucksDarkGreen: #1e3932;
    --starbucksMintGreen: #d4e9e2;
    --starbucksCreamyWhite: #f3f1e7;
    --starbucksBlack: #000000;
}

*{
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: inherit;
}

body{
    height: 100vh;
    display: grid;
    grid-template: auto 1fr auto / 1fr;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    max-width: 100%;
    overflow-x: hidden;
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: inherit;
    font-weight: 600;
}

.sb-header{
    grid-row: 1;
}
.sb-main{
    grid-row: 2;
    background-color: var(--starbucksMintGreen);
}

.sb-footer{
    grid-row: 3;
    background-color: var(--starbucksCreamyWhite);
}


.sb-header__top-nav-bar{
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
}

.sb-header__top-nav-bar__item:hover{
    color: var(--starbucksMidGreen);
}

.testContainer{
    margin-left: auto;
    display: flex;
    width: max-content;
    gap: 2.5rem;
    margin-right: 4rem;
}

.blackBorderButton{
    border: 2px solid black;
    border-radius: 4rem;
    padding: .6rem;
    width: 6rem;
}

.blackBackgroundButton{
    background-color: black;
    color: white;
}

.sb-header__rewardsBar{
    color: white;
    background-color: var(--starbucksDarkGreen);
    font-weight: 1000;
    width: 100vw;
    margin: 0;
    padding: .8rem;
}

.sb-header__rewardsBar p{
    margin-left: 5.4rem;
}